form.col-sm-4.card-container.form-content.clearfix(role="form", data-toggle="validator", novalidate="true")
	.card
		.form-group
			label.control-label
			input.form-control.input-lg.text-center(type='text', id='inputIdea', placeholder='What is your idea?', ng-model='formData.title' required)
			.help-block.with-errors
			label.control-label
			textarea.form-control(type='text', id='inputDescription', placeholder='Describe your idea...', rows="3", ng-model='formData.description' required)
		.form-group.text-center
			button.btn.btn-primary.btn-lg.form-btn(type='submit', ng-click='createIdea()') Add
		.help-block.with-errors
