//- LOOP OVER THE IDEAS IN $scope.ideas
.input(ng-repeat="idea in ideas | orderBy:'-_id'").col-sm-4.card-container.element
	.card
		button.close(type='button', aria-label='Close', ng-click='deleteIdea(idea._id)')
			span(aria-hidden='true') &times;
		.title.page-header
			h3 {{ idea.title }}
		.description.border-bottom
			p {{ idea.description }}
		p {{ idea.comment }}
		label.control-label
			|	Add a comment 
		textarea.form-control(type='text', id='inputComment', rows="3", ng-model='formData.comment', required)
		.form-group.text-center
		button.btn.btn-secondary.btn-lg.form-btn(type='submit', ng-click='createComment(idea._id)') Add
