html {
	overflow-y:scroll;
}

#idea-list {
	margin-bottom:30px;
}

/*Idea form*/

/*Idea cards*/

.card-container {
	padding: 10px
}

.card {
	border: 1px #dfdfdf solid;
	padding: 0 15px 15px;
}

.card-container:nth-child(3n+1) {
	clear:both;
}

/*Buttons*/

.delete-form-btn {
	float: right;
}

.form-btn {
	width: 100%;
}

button.close {
	margin-top: 8px;
}

/*Labels*/

label.ng-binding {
	width: 100%;
	padding-top: 15px;
}

/*Forms*/

.form-content {

}

/*General content*/

.border-bottom {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee;
}
